extends particulars/layout.pug

block ScriptFiles
    //- button.btn.btn-success(onclick = 'btnAClick()',type='button',id='btnA')
    //-     strong Save
    //- button.btn.btn-warning(onclick = 'btnBClick()',type='button', style='margin-left: 3px;',id='btnB')
    //-     strong Cancel
    script(src='js/home.js')
