extends particulars/layout.pug
block stylesheetFiles
    link(href='css/sys_001.css', rel='stylesheet')
block pagecontent
    .full-screem-wrap
      .container
        .jumbotron.jumbotron-fluid.jumbotron-custom
          h1.title-name MẦN NON 15
        .row
          .textCenter
            label.titleArea Điểm số của giám khảo
        if users != null
        .row.justify-content-center
          each user in users
            .col-md-2
              .scoreBoard
                .scoreArea
                  label.scoreNum #{user.score}
                .nameArea
                  h2.examinerName
                    | #{user.name}

        .row.justify-content-center
          .col-lg-3
            .diemtrungbinhArea
              .dtbLabel
                h2.dtbLabel_text
                  | Điểm Trung Bình
              .dtbScore
                label.dtbScore_text #{dtb}
        
        .row
          .btnReset
            button.btn.btn-primary.btn-lg.btn-block(type='button')#btnReset Reset Score

block ScriptFiles
    script(src='js/sys_001.js')
